// File scss importati
@import 'partials/reset.scss';
@import 'partials/variables.scss';


// Regole generali
#app {
    margin: 1rem 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}

.space-ard {
    justify-content: space-around;
}

.align-items {
    align-items: center;
}

.p-bt {
    padding-bottom: 1rem;
}